body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#info {
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
  color: antiquewhite;
  text-align: left;
  display:block;
}
